.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-position: center;

    background-color: var(--bg1);
    background-blend-mode: soft-light;
    background-image: radial-gradient(circle, var(--bg-color) 0%, transparent 100%);

    padding: 0.5rem;
    border-radius: 0.5rem;

    gap: 0.5rem;

    cursor: pointer;
    text-decoration: none !important;
    color: inherit !important;

    .card-title {
        font-size: 16px;
        font-weight: 600;

        .dexNr {
            opacity: 0.75;
        }
    }

    & img {
        overflow: hidden;
        margin-top: auto;
        margin-bottom: auto;
        max-width: calc(100% - 1rem);
        max-height: calc(100% - 4rem);
    }

    .type-icons {
        position: absolute;
        opacity: 0;
        top: 0.25rem;
        left: 0.25rem;
        width: 100%;

        display: flex;
        justify-content: flex-start;
        gap: 0.25rem;

        > * {
            aspect-ratio: 1;
            height: 1.25rem;
        }

    }

    .attributes {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.25rem;

        display: flex;
        align-items: center;

        border-bottom-left-radius: 8px;
        border-top-right-radius: 8px;

        background-color: var(--primary);

        .attribute {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            font-weight: 500;


            .material-symbols-rounded {
                font-size: 18px;
            }
        }

        .attribute.functional {
            color: var(--bg2);

            .material-symbols-rounded {
                text-shadow: 0px 0px 3px var(--text2);
            }
        }

    }

    .attributes:has(.functional) {
        background: linear-gradient(45deg in oklab, #ff33c4, #fff983, #00ded6);
        box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.2);
    }


}


.logo-landscape {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    line-height: 1;
    margin-right: 2px;
    margin-bottom: 0.5rem;

    img {
        height: 2.75rem;
        aspect-ratio: 1;
        margin-right: 0.5rem;
    }

    .logo-text {
        display: flex;
        flex-direction: column;

        .text-brand {
            font-weight: 700;
            font-size: 1.5rem;
        }

        .text-sub {
            line-height: 1.25;
            font-weight: 400;
            font-size: 0.8rem;
            font-style: italic;
            opacity: 0.75;
        }
    }
}

.search-bar {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border: solid 2px var(--bg3);
    border-radius: 8px;
    height: 2rem;
    background-color: var(--bg0);

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        height: 100%;
    }

    & input {
        font-family: var(--font-family);
        flex-grow: 1;
        font-size: 18px;
        background-color: transparent;
        color: var(--text1);
        outline: none;
        border: none;
    }
}

.sort-icon {
    border: solid 2px var(--bg3);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    border-radius: 8px;
    background-color: var(--bg0);
    cursor: pointer;
}

.sort-icon.active,
.search-bar.active,
.dex-selector>.option.active {
    color: var(--primary);  
    border-color: var(--primary);
    filter: drop-shadow(inset 0px 0px 3px var(--primary));
}

.dex-selector {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    height: 2rem;

    border-radius: 8px;
    border: solid 2px var(--bg3);
    cursor: pointer;

    margin-left: auto;

    .option {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        height: 100%;
        width: 2rem;
        border-radius: 6px;

        & img {
            max-height: 1.5rem;
            max-width: 1.5rem;
        }

        &:hover {
            background-color: var(--bg2);
        }
    }

    .option:not(.active) {
        display: none;
    }

  
}

.dex-selector.open {
    .option:not(.active) {
        display: flex;
    }
}

.dex-selector.active {
    color: var(--primary);
    border-color: var(--primary);
}


.pokemon-layout {
    position: relative;
    display: grid;
    grid-template-areas:
        "brief details";
    grid-template-columns: 300px 1fr;
    grid-template-rows: calc(100vh - 1rem);
    gap: 0.5rem;
    padding: 0.5rem;


    .brief {
        grid-area: brief;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;


        .showcase {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    .details {
        grid-area: details;
        display: grid;
        background-color: color-mix(in srgb, var(--bg1) 75%, transparent);
    }

    .brief,
    .details {
        gap: 0.5rem;
        border-radius: 0.5rem;
        
    }

}


.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: color-mix(in srgb, var(--bg1) 75%, transparent);

    .title {
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        opacity: 0.9;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        .dex-nr {
            opacity: 0.75;
        }
    }
}

.form-selector {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & input[type="radio"]:checked + label {
        background-color: var(--primary);
        color: var(--bg2);
    }

    & input[type="radio"] {
        display: none;
    }

    
}

.showcase {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 0;
    padding-bottom: 0.75rem;
    gap: 0.75rem;

    border-radius: 8px 8px 0 0;

    .family {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .family-nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            background-color: color-mix(in srgb, var(--bg1) 75%, transparent);
            padding: 0.25rem;
            border-radius: 0.5rem;
        }
    }


    .mega-icon {
        position: absolute;
        height: 2rem;
        aspect-ratio: 1;
        top: 0.5rem;
        right: 0.5rem;
        filter: sepia(1) saturate(7) hue-rotate(284deg) drop-shadow(0 3px 3px rgba(0, 0, 0, 0.25));
    }
    
}

.types {
    display: flex;
    gap: 0.5rem;

    .type {
        aspect-ratio: 1;
        height: 2rem;
    }
}


.moves {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.moveset {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border-radius: 0.5rem;
}

.moveset:hover {
    background-color: var(--bg2);
}

.move {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;

    .move-type {
        height: 1.5rem;
        aspect-ratio: 1;

        display: flex;
        align-items: center;
        justify-content: center;


        & img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.move.legacy {
    background: linear-gradient(314deg, #82adf9, #c68bf8);
    border-radius: 0.25rem;
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.1), 0px 0px 30px rgba(255, 51, 255, 0.1);
    z-index: 2;
    position: relative;
    color: #000c0c;
    font-weight: 420;
    padding: 2px;
    margin: 2px;
    

    .legacy-effect {
        position: absolute;
        transform: rotate(-90deg);
        mix-blend-mode: screen;
        right: 0;
        height: 100%;
        border-radius: 0.25rem;
        mask-image: linear-gradient(90deg, transparent, white);
    }
    
}

.move.legacy::before {
    content: "";
    position: absolute;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 6px;
    background-image: linear-gradient(35deg, #f990e9, #8fedf8);
    z-index: -1;
    inset: -2px;
    mix-blend-mode: darken;
}

