:root {

    --font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    --bg0: #1e1e1e;
    --bg1: #252526;
    --bg2: #2d2d2d;
    --bg3: #333333;

    --text1: #d4d4d4;
    --text2: #d4d4d4aa;
    --text-heading: #f0f0f0;

    --primary: #0089cf;

    --success: #52c994;
    --error: #ff8071;

    --dex-bg-top: #d3bcea;
    --dex-bg-bottom: #8b97ed;
    --dex-bg-gradient: linear-gradient(180deg, var(--dex-bg-top), var(--dex-bg-bottom));


    .material-symbols-rounded {
        font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24;
        user-select: none;
    }

    accent-color: var(--primary);

}

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--text2);
    border-radius: 10px; 
    border: 3px solid transparent;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}

/* button reset */
button {
    -webkit-appearance: none;
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
}

body {

    box-sizing: border-box;

    display: grid;
    height: 100vh;
    width: 100vw;
    margin: 0;

    font-family: var(--font-family);

    background-color: var(--bg0);
    color: var(--text1);

    grid-template-areas:
        "nav main";
    
    grid-template-columns: auto 1fr;

    .material-symbols-rounded {
        user-select: none;
        pointer-events: none;
    }
}

* {
    user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a.link {
    color: var(--primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    background-color: color-mix(in srgb, var(--bg2), transparent);

    padding: 0.75rem;
    gap: 0.25rem;

    .nav-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: 0.5rem 0.5rem;
        gap: 0.5rem;

        border-radius: 0.5rem;
        font-weight: 400;
        text-decoration: none;
        color: var(--text1);

        cursor: pointer;

        .material-symbols-rounded {
            font-size: 1.25rem;
            font-variation-settings: 'FILL' 0;
        }

        
        &:hover {
            background-color: color-mix(in srgb, var(--bg3), transparent 85%);
            color: var(--text-heading);
        }

        & a {
            font-size: 1rem;
            color: inherit;
            text-decoration: none;
        }


        &.active {
            background-color: color-mix(in srgb, var(--bg3), transparent 60%);
            color: var(--text-heading);

            .nav-link {
                font-weight: 500;
            }
            
            .material-symbols-rounded {
                font-variation-settings: 'FILL' 1;
            }

        }

       
    }

    & footer {
        margin-top: auto;
        text-align: center;
        font-weight: 500;

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.25rem;

            &:hover {
                text-decoration: none;

                .text {
                    text-decoration: underline;
                    text-decoration-thickness: 2px ;
                }
            }

            .material-symbols-rounded {
                font-size: 20px;
                line-height: 1;
                text-decoration: none !important;
                height: 20px;
            }
        }

        
    }

   
}

main {
    grid-area: main;
    overflow-y: auto;
    overflow-x: clip;
    z-index: 0;
}

#container {
    display: grid;
    align-content: stretch;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-auto-rows: 180px;
    justify-content: center;
    gap: 0.75rem;
}

header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.muted {
    opacity: 0.25;
}

@media (max-width: 579px) {
    body {
        grid-template-areas:
            "main";
        grid-template-columns: 1fr;
    }

    nav {
        display: none;
        position: absolute;
        width: 100vw;
        height: 100dvh;
        top: 0;
        left: 0;
        background-color: color-mix(in srgb, var(--bg2), transparent 15%);
        backdrop-filter: blur(10px);
        z-index: 1;
        padding: 1rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1rem;
    }

    #container {
        grid-template-columns: repeat(auto-fill, 150px);
        grid-auto-rows: 150px;
    }
}