<header>
    <div class="search-bar">
        <div class="icon-container">
            <span class="material-symbols-rounded">
                search
            </span>
        </div>

        <input id="dex-search" type="text" autocomplete="off">

    </div>

    <div id="search-sort-by" class="sort-icon toggle">
        <span class="material-symbols-rounded">sort</span>
    </div>
    <div id="search-sort-direction" class="sort-icon toggle">
        <span class="material-symbols-rounded">swap_vert</span>
    </div>

    <img style="margin-left: auto; mix-blend-mode: luminosity;" src="https://cdn.discordapp.com/emojis/1276312604406710303.gif?size=44&quality=lossless" alt="deal">

</header>


<div id="container">

</div>