<header>
    <div class="search-bar">
        <div class="icon-container">
            <span class="material-symbols-rounded">
                search
            </span>
        </div>

        <input id="dex-search" type="text" autocomplete="off">

    </div>

    <div id="search-sort-by" class="sort-icon toggle">
        <span class="material-symbols-rounded">sort</span>
    </div>
    <div id="search-sort-direction" class="sort-icon toggle">
        <span class="material-symbols-rounded">swap_vert</span>
    </div>

    <div class="dex-selector">
        <div class="option active">
            <img draggable="false" src="https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Pokedex/ic_pokedex.png" alt="Pokedex">
        </div>
        <div class="option">
            <img src="https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Filters/ic_kanto.png">
        </div>
        <div class="option">
            <img src="https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Filters/ic_johto.png">
        </div>
        <div class="option">
            <img src="https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Filters/ic_hoenn.png">
        </div>
        <div class="option">
            <img src="https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Filters/ic_sinnoh.png">
        </div>
        <div class="option">
            <img src="https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Filters/ic_unova.png">
        </div>
        <div class="option">
            <img src="https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Filters/ic_alola.png">
        </div>
        <div class="option">
            <img src="https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Filters/ic_galar.png">
        </div>
        <div class="option" style="rotate: 90deg; height: 2rem; width: 2rem;">
            <img src="https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Filters/ic_hisui.png">
        </div>
        <div class="option">
            <img src="https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Filters/ic_paldea.png">
        </div>
    </div>

</header>


<div id="container">

</div>

<div id="spacer">
    
</div>